<?xml version="1.0"?>
<launch>	
	<node pkg="load_transport" name="control" type="main_control_three.py" output="screen">
		<param name="tello1_ns" value="$(arg tello1_ns)" />
		<param name="tello2_ns" value="$(arg tello2_ns)" />
		<param name="tello3_ns" value="$(arg tello3_ns)" />
		<param name="lift_thrust_01" value="$(arg lift_thrust_01)" />
		<param name="lift_thrust_02" value="$(arg lift_thrust_02)" />
		<param name="lift_thrust_03" value="$(arg lift_thrust_03)" />
		<param name="lift_duration" value="$(arg lift_duration)" />
		<param name="pitch_kp" value="$(arg pitch_kp)" />
		<param name="pitch_ki" value="$(arg pitch_ki)" />
		<param name="pitch_kd" value="$(arg pitch_kd)" />
		<param name="yaw_kp" value="$(arg yaw_kp)" />
		<param name="yaw_ki" value="$(arg yaw_ki)" />
		<param name="yaw_kd" value="$(arg yaw_kd)" />
		<param name="yaw_tol" value="$(arg yaw_tol)" />
		<param name="form_k" value="$(arg form_k)" />
		<param name="dist_k" value="$(arg dist_k)" />
		<param name="desired_dist" value="$(arg desired_dist)" />
	</node>

	<node pkg="rosbag" type="record" name="recorder" output="screen" if="$(arg is_record)" args="
	record -o $(arg dir_ns)/$(arg bag_name).bag 
	/state_transition 
	/$(arg tello1_ns)/cmd_vel 
	/$(arg tello1_ns)/land 
	/$(arg tello1_ns)/manual_takeoff 
	/$(arg tello1_ns)/camera/camera_info 
	/$(arg tello1_ns)/camera/compressed/compressed 
	/$(arg tello1_ns)/imu 
	/$(arg tello1_ns)/odom 
	/$(arg tello1_ns)/status 
	/$(arg tello1_ns)/bearing/local 
	/$(arg tello1_ns)/bearing/global 
	/$(arg tello1_ns)/bearing/error 
	/$(arg tello1_ns)/pitch/error 
	/$(arg tello1_ns)/yaw/error 
	/$(arg tello2_ns)/cmd_vel 
	/$(arg tello2_ns)/land 
	/$(arg tello2_ns)/manual_takeoff 
	/$(arg tello2_ns)/camera/camera_info 
	/$(arg tello2_ns)/camera/compressed/compressed 
	/$(arg tello2_ns)/imu 
	/$(arg tello2_ns)/odom 
	/$(arg tello2_ns)/status 
	/$(arg tello2_ns)/bearing/local 
	/$(arg tello2_ns)/bearing/global 
	/$(arg tello2_ns)/bearing/error 
	/$(arg tello2_ns)/pitch/error 
	/$(arg tello2_ns)/yaw/error 
	/$(arg tello3_ns)/cmd_vel 
	/$(arg tello3_ns)/land 
	/$(arg tello3_ns)/manual_takeoff 
	/$(arg tello3_ns)/camera/camera_info 
	/$(arg tello3_ns)/camera/compressed/compressed 
	/$(arg tello3_ns)/imu 
	/$(arg tello3_ns)/odom 
	/$(arg tello3_ns)/status 
	/$(arg tello3_ns)/bearing/local 
	/$(arg tello3_ns)/bearing/global 
	/$(arg tello3_ns)/bearing/error 
	/$(arg tello3_ns)/pitch/error 
	/$(arg tello3_ns)/yaw/error
	"/>
</launch>
